.primary-nav {
  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 12px 0;

    @mixin atMedium {
      font-weight: 300;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
